# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Lambda builds / Python
__pycache__/
*.zip
.env# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Lambda builds / Python
__pycache__/
*.zip
.env